@charset "UTF-8";

body {
    background-color: rgb(147, 187, 211);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: mediumblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align: justify;
}
.p {
    margin: 40px 60px 100px 30px;
}
.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn-fundo {
    background: #3232a8; 
    color: cornsilk;
    box-shadow: 0 5px 0 #09096b;
}
.btn-fundo:hover {
    background: #181880;
    color: cornsilk;
    box-shadow: 0 5px 0 #050a35; 
}
.btn-fundo:active {
    background: #279bc9;
    color: cornsilk;
    box-shadow: 0 5px 0 #0e4257; 
}
.css img {
    float: left;
    width: 15%;
    border: 8px solid rgb(19, 1, 119);
    padding: 5px;
    margin: 0px 10px 10px 0;
   }
